.science {
    margin-left: 500px;
}

.border{
    font-family: inherit;
    font-weight: bold;
    font-size: 120%;
    padding: 0.2em; ;
    margin: 0.5em;
    display: block;
}

#article{
    background-color: rgb(127, 255, 212);
}

#news{
    width: 500px;
    height: 1087px;
    background-color: aquamarine ;
}