.science {
    margin-left: 500px;
}

.border{
    font-family: inherit;
    font-weight: bold;
    font-size: 120%;
    padding: 0.2em; ;
    margin: 0.5em;
    display: block;
}

#article{
    background-color: azure;
    width: 550px ;
}

#news{
    width: 445px;
    height: 1291px;
    background-color: azure;
}

.Arch{
    float: right;
}

.Apollo{
    width: 157px;
    height: 125px;
}

.Cru{
    width: 199px;
    height: 98px;
    float: left;
}

.Har{
    width: 153px;
    height: 127px;
}

.Ric{
    width: 350px;
    height: 350px;
    float: left;
}

.Codex{
    width: 153px;
    height: 127px;
}

#From{
    background-color: aquamarine;


}
.span {
    float: left;
}

#To{
    background-color: plum;
}

#li{
    margin: 7px;
    padding: 10px;
    background-color: rgba(255, 192, 203, 0.836);
}

.q{
    float: right;
    padding: 20px;
}
/* 
.Ti{
    white-space: nowrap;
} */